
button.active {
  background: #1976d2;
  color: white;
  border-color: #1976d2;
  font-weight: bold;
}

button:hover {
  background: #f0f0f0;
  color: #3a3630;
}

/* button[disabled]:hover {
  background: #f0f0f0;
  color: #3a3630;
} */