.searchbox-container {
  width: 300px;
}

.searchbox {
  border-radius: 10px 10px 0px 0px;
  border: 1px solid #3a3630;
  font-size: 13px;
  width: 100%;
  padding: 5px;
}

.list-item-container {
  list-style: none;
  padding: 0;
  text-align: left;
  border: 1px solid #3a3630;
  margin-top: -1px;
  border-radius: 0 0 10px 10px;
  border-top: 0;
  font-size: 13px;
}
